@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  background-color: #99cfe0;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
  font-family: "Pinyon Script", cursive;
}

nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

nav div.logo a:hover {
  color: #fffcbb;
}

nav div.main_list {
  height: 65px;
  float: right;
}

nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

nav div.main_list ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 65px;
  font-size: 2.4rem;
}

nav div.main_list ul li a:hover {
  color: #fffcbb;
}
p {
  font-size: 18px;
}
h1 {
  font-size: 30px;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
}
div.scrollmenu img {
  display: inline;
}
div.scrollmenu img:hover {
  width: 30;
  height: 30%;
  transition: 0.5s;
  border-radius: 33%;
  box-shadow: 4px 0px 10px black;
}
#kontakt {
  font-size: 20px;
}
#stöd {
  font-size: 20px;
}
